{%extends 'base.html'%}


{% block title%}
{question.title}    
{%endblock%}


{%block main_content%}
Title: {{question.title}}<br>
description: {{question.question_desc}}<br>
votes: {{question.question_votes}}<br>
<h3>Answers</h3>

{%for answer in answers%}
    <p>{{answer.answer_desc}}</p>
    
{%endfor%}

<h2>Answer this question</h2>
<form method="POST">
        {%csrf_token%}
<div class="form-group">
    <label for="exampleFormControlTextarea1">enter your answer over here :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="answer"></textarea>
    <button type="submit" value="submit">submit</button>
  </div>
</form>
{%endblock%}