<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    this is a different page, sup?
    <br>
    {%for a in answer%}
       {%if a.answer_votes > 0 %}
      <br> {{a.answer_votes}}
       {%endif%}
    {%endfor%}

    <table border=2px>
        <tr>
            <td>question title</td>
            <td>question descriptions</td>
            <td>image</td>
            <td>category</td>
            <td>timestamp(YYYY-MM-DD hh-mm-ss AM/PM)</td>
            <td>vote</td>
        </tr>
        {%for q in question%}
        <tr>
            <td>{{q.title}}</td>       
            <td>{{ q.question_desc|truncatechars:20}}</td>
            <td><img src='../../media/{{q.question_img}}' alt='image here' style='width:190px; height:190px'></td>
            <td>{{q.category}}</td>
            <td>{{q.timestamp}}</td>
            <td>{{q.question_votes}}</td>

        </tr>
        {%endfor%}

    </table>
</body>
</html>