{%extends 'base.html'%}

{%block main_content%}
    {% for i in question %}
        <a href="{% url 'qna:qna.detail' i.id %}"><h6>{{i.title}}</h6> </a><br>
        <!-- {{i.category}} <br>
        {{ i.question_desc|truncatechars:20}}
        <br> <img src='../../media/{{i.question_img}}' alt='image here' style='width:190px; height:190px'> <br>

        the total vote so far are :{{i.question_votes}}<br>
        <a href="{% url 'qna:vote' i.id %}"><button>VOTE</button></a><br>
        <a href="{% url 'qna:update' i.id %}"><button>UPDATE</button></a><br>
        <a href="{% url 'qna:comment' i.id %}"><button>COMMENT</button></a><br>
        <a href="{% url 'qna:delete' i.id %}"><button>DELETE</button></a><br>
        <a href="{% url 'qna:ans' i.id %}"><textarea>Answer</textarea></a><br> -->



    {% endfor %}
<!-- 
    <a href="{% url 'qna:add' %}"><button>ADD</button></a> -->

 {%endblock%}